.mainMenu {
    @include span-columns(2);
    
    ul {
        height: 100%;
        li {
            list-style: none;
            display: inline-block;
            padding: 3px;
            width: 100%;
            //border: 1px solid black;
            //border-bottom: none;
            &:hover {
                background: #f5f5f5;
                font-weight: bold;
            }
            &:last-child {
               // border-bottom: 1px solid black;
            
            }
            
            
            a {
                font-size: 16px;
                color: #333;
                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}

.principal {
    @include span-columns(10);
    padding: 5px;
}

.dashboard {
    background: white;
    >.container{
        @include outer-container;
    }
}




   

    
